IMAGEKIT_PRIVATE_KEY= #Login on https://imagekit.io/login/ Developer_options -> Api_keys -> copy private Key
IMAGEKIT_PUBLIC_KEY= #Login on https://imagekit.io/login/ Developer_options -> Api_keys -> copy public Key
IMAGEKIT_URL= #Login on https://imagekit.io/login/ Developer_options -> Api_keys -> copy URL_endpoint
SECRET=# Your secret code. use 32 or more symbols
